<div class="container text-center">
  <h4>Session Storage:</h4>
  <div class="row m-4">
    <div class="col-3">
      <button class="btn btn-primary" (click)="setSession()">Set Session</button>
    </div>

    <div class="col-3">
      <button class="btn btn-primary" (click)="getSession()">Get Session</button>
    </div>

    <div class="col-3">
      <button class="btn btn-primary" (click)="removeSession()">Remove Session</button>
    </div>

    <div class="col-3">
      <button class="btn btn-primary" (click)="clearSession()">Clear Session</button>
    </div>
  </div>
  @if (sessionValue) {
    <h6>Session Value: {{sessionValue}}</h6>
  }

  <hr>

  <h4>Local Storage:</h4>
  <div class="row m-4">
    <div class="col-3">
      <button class="btn btn-primary" (click)="setLocal()">Set Local</button>
    </div>

    <div class="col-3">
      <button class="btn btn-primary" (click)="getLocal()">Get Local</button>
    </div>

    <div class="col-3">
      <button class="btn btn-primary" (click)="removeLocal()">Remove Local</button>
    </div>

    <div class="col-3">
      <button class="btn btn-primary" (click)="clearLocal()">Clear Local</button>
    </div>
  </div>
  @if (localValue) {
    <h6>Session Value: {{localValue}}</h6>
  }


  <hr>

  <h4>Cookie:</h4>
  <div class="row m-4">
    <div class="col-3">
      <button class="btn btn-warning" (click)="setCookie()">Set Cookie</button>
    </div>

    <div class="col-3">
      <button class="btn btn-warning" (click)="getCookie()">Get Cookie</button>
    </div>

    <div class="col-3">
      <button class="btn btn-warning" (click)="deleteCookie()">Delete Cookie</button>
    </div>
  </div>
  @if (cookieValue) {
    <h6>Cookie Value: {{cookieValue}}</h6>
  }
</div>
