<div class="m-3">
  <h3 class="text-primary m-3">String type pipes: </h3>
  <h4>1. UpperCasePipe: {{ angularPipes | uppercase}}</h4>
  <h4>2. LowerCasePipe: {{ angularPipes | lowercase}}</h4>
  <h4>3. TitlePipe: {{ angularPipes | titlecase}}</h4>
  <h4>4. SlicePipe(4:8) {{ angularPipes | slice: 4:8 }}</h4>
  <h4>4. SlicePipe(4) {{ angularPipes | slice: 4 }}</h4>
  <h4>4. SlicePipe(4:-10) {{ angularPipes | slice: 4:-10 }}</h4>
  <h4>4. SlicePipe(-10) {{ angularPipes | slice:-10 }}</h4>
  <h4>4. SlicePipe {{ [1,2,3,4,5,6,7,8,9] | slice:1:3 }}</h4>
  <h4>4. SlicePipe {{ [1,2,3,4,5,6,7,8,9] | slice:2 }}</h4>
  <h4>5. JsonPipe {{ personData| json }}</h4>
  <pre>5. JsonPipe {{ personData| json }}</pre>

  <h3 class="text-primary m-3">Number type pipes</h3>
  <h4>6. DatePipe: {{currentDate | date}}</h4>
  <h4>6. short: {{currentDate | date: 'short'}}</h4>
  <h4>6. shortDatePipe: {{currentDate | date: 'shortDate'}}</h4>
  <h4>6. shortTimePipe: {{currentDate | date: 'shortTime'}}</h4>
  <h4>6. mediumPipe: {{currentDate | date: 'medium'}}</h4>
  <h4>6. mediumDatePipe: {{currentDate | date: 'mediumDate'}}</h4>
  <h4>6. mediumTimePipe: {{currentDate | date: 'mediumTime'}}</h4>
  <h4>7. DecimalPipe: {{3.14554848265845612646 | number: '1.3'}}</h4>
  <h4>7. DecimalPipe: {{3.14554848265845612646 | number: '2.3'}}</h4>
  <h4>7. DecimalPipe: {{3.14554848265845612646 | number: '3.3'}}</h4>
  <h4>7. DecimalPipe: {{3.14 | number: '3.6'}}</h4>
  <h4>8. PercentPipe: {{0.25 | percent}}</h4>
  <h4>8. CurrencyPipe: {{123.20 | currency}}</h4>
  <h4>8. CurrencyPipe: {{123.20 | currency: 'EUR'}}</h4>
  <h4>8. CurrencyPipe: {{123.20 | currency: 'INR'}}</h4>
  <h4>9. Multi Pipe: {{currentDate | date | uppercase}}</h4>

  <h3 class="text-primary m-3">Async pipes</h3>
  <h4>10. AsyncPipe
    <ul>
      @for (item of items | async; track item) {
        <li>{{item}}</li>
      }
    </ul>
  </h4>

  <h3 class="text-primary m-3">11. Custom Pipe</h3>
  <h6>Mobile Number: {{mobile | custom}}</h6>


  <h3 class="text-primary m-3">12. Pure Pipe</h3>
  <h6>Square of 5 is {{5 | pure}}</h6>

  <h3 class="text-primary m-3">13. Impure Pipe</h3>
  <h6>Impure pipe: {{currentDate | impure}}</h6>



</div>
