<div class="container text-center">
  <div class="row m-2">
    <div class="col-12">
      <div class="text-warning">
        <h2>Example of 1 & 2 (Parent -> Child & Child -> Parent)</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="text-info">
        <h2>Parent Component</h2>
      </div>
      <div class="text-warning m-3">
        <h4>{{receiveMessage}}</h4>
      </div>
    </div>
    <div class="vr p-0"></div>
    <div class="col-5">
      <app-child [childInputProperty]="parentProperty" (childOutputProperty)="receiveData($event)"/>
    </div>
  </div>

  <div class="row m-2">
    <div class="col-12">
      <div class="text-warning">
        <h2>Example of 3 (Siblings Components)</h2>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-6">
      <app-sibling1 (sibling1Event)="receiveEvent1($event)" />
    </div>
    <div class="vr p-0">

    </div>
    <div class="col-5">
      <app-sibling2 [sibling2Data]="sibling1Data"/>
    </div>
  </div>


  <div class="row m-2">
    <div class="col-12">
      <div class="text-warning">
        <h2>Example of 1 & 2 (Parent -> Child using ViewChild annotation)</h2>
      </div>
    </div>
  </div>

  <div class="row m-2">
    <app-reusable #reusable/>
  </div>
</div>
