<div class="container">
  <h2 class="text-center">
    Angular 19 : CRUD Operations with JSON Server
  </h2>
  <br>
  <button class="btn btn-info m-2" (click)="addNewUser()">Add New User</button>
  <br>
  <br>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th class="col-2">Id</th>
        <th class="col-2">Name</th>
        <th class="col-2">Username</th>
        <th class="col-3">Email</th>
        <th class="col-1">Update</th>
        <th class="col-1">View</th>
        <th class="col-1">Delete</th>
      </tr>
    </thead>
    <tbody>
      @for (data of apiData; track data.id) {
        <tr>
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.username}}</td>
          <td>{{data.email}}</td>
          <td>
            <button class="btn btn-warning btn-sm m-1" (click)="onUpdate(data.id)">Update</button>
          </td>
          <td>
            <button class="btn btn-secondary btn-sm m-1" (click)="onView(data.id)">View</button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm m-1" (click)="onDelete(data.id)">Delete</button>
          </td>

        </tr>
      }
    </tbody>
  </table>

</div>
