<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="text-center w-50 p-5 border border-secondary">
    <h2>Welcome to Login</h2> <br>
    <label for="username">Username: </label> <input type="text" name="" id="username" placeholder="Enter your username">
    <br>
    <br>
    <label for="password">Password: </label> <input type="password" name="" id="password" placeholder="Enter your password">
    <br>
    <br>
    <button class="btn btn-primary" (click)="loginData()">Login</button>
  </div>
</div>
