<div class="m-3">
<!--  1. sharing the data-->
  <ul>
    <li><b>Id :</b> {{dummyData.id}}</li>
    <li><b>Name :</b> {{dummyData.name}}</li>
    <li><b>Username :</b> {{dummyData.username}}</li>
    <li><b>Email :</b> {{dummyData.email}}</li>
  </ul>

<!--2. sharing business logic-->
  @if (isEligible) {
    <h4 class="text-success">You  are eligible for a premium subscription</h4>
  }@else{
    <h4 class="text-danger">You are not eligible for a premium subscription</h4>
  }

<!--  3. interaction with api-->
  <ul *ngFor="let data of apiData">
    <li><b>Id :</b> {{data.id}}</li>
    <li><b>Name :</b> {{data.name}}</li>
    <li><b>Username :</b> {{data.username}}</li>
    <li><b>Email :</b> {{data.email}}</li>
  </ul>
</div>
